body {
    font-size: 14px;
    line-height: 20px;
    color: black;
    font-weight: bold;
    font-family: "PT Sans Narrow";
}

h1 {
    font-size: 30px;
    
}

h2 {
    font-size: 25px;
    color: black;
}